@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
    @apply tracking-[-0.016em];
  }

  h2 {
    @apply text-3xl;
    @apply font-semibold;
    @apply tracking-[-0.016em];
  }

  h3 {
    @apply text-2xl;
    @apply font-semibold;
    @apply tracking-[-0.016em];
  }

  h5 {
    @apply text-xl;
    @apply font-semibold;
    @apply tracking-[-0.016em];
  }

  html {
    @apply text-brand-black;
  }

  body {
    text-rendering: optimizeLegibility;
    @apply antialiased;
  }

  input {
    @apply text-brand-black;
  }

  p {
    @apply font-serif;
    font-style: normal;
    font-weight: 400;
    @apply text-base leading-[30px];
    @apply break-words;
    @apply text-brand-black;
    @apply tracking-[-0.00313em];
  }

  ul,
  ol {
    padding: 0 1rem;
  }
  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  code {
    @apply border border-solid border-slate-300 rounded-sm text-gray-800 bg-gray-100 font-mono;
    font-size: 0.8em;
    line-height: 1em;
    padding: 0.4rem 0.4rem 0.2rem;
    vertical-align: middle;
    white-space: pre-wrap;
  }

  pre {
    background: #0d0d0d;
    border-radius: 0.5rem;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
  }

  pre code {
    @apply rounded-none p-0;
    background: none;
    border: none;
    color: inherit;
    font-size: 0.8rem;
  }
}

@layer components {
  .article h1 {
    @apply mt-[2em];
    @apply mb-[-0.275em];
  }

  .article h2 {
    @apply mt-[1.38em];
    @apply mb-[-0.23em];
  }

  .article h3 {
    @apply mt-[1.34em];
    @apply mb-[-1.43em];
  }

  .article h5 {
    @apply mt-[1.34em];
    @apply mb-[-1.43em];
  }

  .article p {
    @apply text-xl;
    margin-top: 2em;
  }

  .article2 h1 {
    @apply mt-[2em];
    @apply mb-[-0.275em];
  }

  .article2 h2 {
    @apply mb-[-0.23em];
  }

  .article2 h3 {
    @apply mt-[1.34em];
    @apply mb-[-1.23rem];
  }

  .article2 h5 {
    @apply mt-[1.34em];
    @apply mb-[-1.43em];
  }

  .article2 p {
    font-size: 19.134px;
    line-height: 32.345px;
    margin-top: 1.432em;
  }

  .page {
    transition: box-shadow 100ms linear;
  }

  .text-overflow {
    @apply overflow-hidden whitespace-nowrap text-ellipsis;
  }

  .btn {
    @apply flex justify-center items-center px-[1.15rem] py-[0.4375rem] rounded shadow-sm cursor-pointer text-sm 
    text-brand-black font-medium no-underline;
  }

  .btn-primary {
    @apply btn font-bold border border-transparent text-white bg-slate-900 hover:bg-slate-700;
  }

  .btn-secondary {
    @apply btn border font-semibold border-brand-black hover:shadow-[0_0_0_1px] bg-transparent;
  }

  .btn-tertiary {
    @apply btn-secondary font-medium border-neutral-300;
  }
}
