.aboutBook p {
  font-size: 0.95rem;
  line-height: 1.6rem;
}

.aboutBook ul,
.aboutBook ol {
  display: block;
  list-style: disc outside none;
  @apply mt-[0.35rem];
  padding: 0 0 0 30px;
}

.aboutBook ol {
  list-style-type: decimal;
}

.aboutBook li {
  display: list-item;
}

/* .showMore {
  -webkit-mask-image: linear-gradient(#fff, #fff, rgba(255, 255, 255, 0));
} */
